.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;

    input {
        margin-bottom: 8px;
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;

    input {
        margin-bottom: 8px;
    }
}

